$imageHeight: 250px;

.close {
  cursor: pointer;
  fill: var(--color-metadata);
  height: 32px;
  padding: 4px;
  transition: fill 0.15s;
  width: 36px;

  &:hover {
    fill: var(--color-primary);
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}

.details {
  margin-top: 8px;
}

.header {
  align-items: center;
  color: var(--color-metadata);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 24px 0 12px;
}

.infoCenter {
  margin-left: 16px;
  padding-left: 16px;
  text-align: center;
}

.infoGrid {
  display: grid;
  gap: 4px 0;
  grid-template-columns: 1fr repeat(var(--num-extra), max-content);
}

.image {
  background-color: black;
  height: $imageHeight;
  width: $imageHeight * 3 / 2;
  border-right: 8px solid var(--color-background);
}

.label {
  color: var(--color-primary);
  display: block;
  margin-bottom: 2px;
}

.media {
  height: $imageHeight;
  margin: 32px 0 16px;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
}

.price {
  color: var(--color-onBackground);
}

.priceFractional {
  padding-bottom: 4px;
}

.priceLine {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.priceRupee {
  margin-right: 8px;
}

.section {
  color: var(--color-metadata);
  margin-top: 18px;
}
