$header-size: 60px;
$nav-width: 260px;

.breadcrumbs {
  height: $header-size;
}

.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.header {
  align-items: center;
  border-bottom: 1px solid var(--color-navBorderDark);
  display: flex;
  flex-direction: row;
  height: $header-size;
  justify-content: space-between;
  left: $nav-width;
  padding-right: 6px;
  position: absolute;
  right: 0;
  top: 0;
}

.nav {
  background-color: var(--color-navBackground);
  border-right: 1px solid var(--color-navBorderDark);
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: $nav-width;
}

.navList {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: $header-size;
  width: $nav-width;
}

.title {
  height: $header-size;
  border-bottom: 1px solid var(--color-navBorderLight);
}
