.focusedResult {
  background-color: var(--color-primaryHovered);
}

.input {
  &:focus {
    border-bottom-color: transparent;
    border-radius: 2px 2px 0 0;
  }
}

.results {
  background-color: var(--color-field);
  border: 1px solid var(--color-fieldFocused);
  border-top: none;
  border-radius: 0 0 2px 2px;
  box-sizing: border-box;
  color: var(--color-onBackground);
  display: grid;
}

.result {
  cursor: pointer;
  padding: 6px 8px;
}
