.delete {
  padding-left: 12px;
}

.email,
.firstName,
.lastName,
.phoneNumber,
.roles {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.middle {
  padding-left: 12px;
  padding-right: 12px;
}

.notLast {
  border-bottom: 1px solid var(--color-fieldBorder);
  margin-bottom: 12px;
  padding-bottom: 12px;
}

.roles {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.trash {
  cursor: pointer;
  fill: var(--color-metadata);
  height: 24px;
  width: 24px;
  transition: fill 0.15s;

  &:hover {
    fill: var(--color-error);
  }
}
