.container {
  align-items: center;
  background-color: transparent;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  outline: none;
  padding: 6px 12px;
  transition:
    background-color 0.15s;

  &.dark {
    color: var(--color-background);

    &:focus {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &:hover,
    &:hover &:focus {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.25);
    }

    .personIcon {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }

  &.light {
    color: var(--color-onBackground);

    &:focus {
      background-color: var(--color-field);
    }

    &:hover,
    &:hover &:focus {
      background-color: var(--color-field);
    }

    &:active {
      background-color: var(--color-field);
    }

    .personIcon {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }
}

.icon {
  fill: rgba(0, 0, 0, 0.15);
  height: 24px;
  margin-left: 3px;
  margin-right: 13px;
  width: 24px;
}

.menu {
  background-color: var(--color-background);
  box-shadow: var(--elevation-1);
  border-top: 1px solid var(--color-fieldBorder);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

.menuItem {
  align-items: center;
  color: var(--color-onBackground);
  display: flex;
  flex-direction: row;
  padding: 6px 12px;

  &:focus {
    border-color: var(--color-primaryFocused);
  }

  &:hover,
  &:hover &:focus {
    background-color: var(--color-field);
    border-color: var(--color-primaryHovered);
  }

  &:active {
    background-color: var(--color-field);
    border-color: var(--color-primaryPressed);
  }
}

.personIcon {
  border-radius: 30px;
  fill: var(--color-background);
  height: 30px;
  margin-right: 8px;
  padding: 6px;
  width: 30px;
}
