.close {
  cursor: pointer;
  fill: var(--color-metadata);
  height: 32px;
  padding: 4px;
  transition: fill 0.15s;
  width: 36px;

  &:hover {
    fill: var(--color-primary);
  }
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 24px 0 12px;
}

.info {
  height: 0.875rem;
  width: 50%;
}

.infoContainer {
  margin-top: 16px;
}

.label {
  height: 0.625rem;
  margin-bottom: 2px;
  width: 75px;
}

.media {
  $imageHeight: 250px;
  border-radius: 12px;
  height: $imageHeight;
  margin: 32px 0 16px;
  overflow: hidden;
  width: $imageHeight * 3 / 2;
  width: 100%;
}

.name {
  border-radius: 2px;
  height: 2.125rem;
  width: 200px;
}

.price {
  height: 3.75rem;
  width: 400px;
}
