.grid {
  align-items: center;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 200px max-content;
}


.label {
  margin-right: 4px;
  margin-top: 2px;
  padding-left: 8px;
}

.threeCol {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 4px;
}

.name {
  margin-bottom: 4px;
}

.twoCol {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 4px;
}
