$leftRailSize: 60px;
$rightPaneWidth: 40%;

.container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.leftPane {
  bottom: 0;
  left: $leftRailSize;
  position: absolute;
  right: $rightPaneWidth;
  top: 0;
}

.leftRail {
  background-color: var(--color-navBackground);
  bottom: 0;
  box-shadow: var(--elevation-6);
  left: 0;
  padding: 12px 0;
  position: absolute;
  top: 0;
  width: $leftRailSize;
  z-index: 2;
}

.leftRailContent {
  align-items: center;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: 1fr;
  justify-items: center;
}

.rightPane {
  bottom: 0;
  box-shadow: var(--elevation-6);
  position: absolute;
  right: 0;
  top: 0;
  width: $rightPaneWidth;
  z-index: 1;
}
