.container {
  background-color: var(--color-background);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: var(--elevation-5);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
}

.filters {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: center;
  padding: 6px;
}

.formContent {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 24px 7px 12px;
}

.icon {
  cursor: pointer;
  fill: var(--color-metadata);
  height: 32px;
  padding: 4px;
  transition: fill 0.15s;
  width: 36px;

  &:hover {
    fill: var(--color-primary);
  }
}

.col_1 {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(1, 1fr);

  & ~ & {
    margin-top: 24px;
  }
}

.col_2 {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);

  & ~ &,
  & ~ .col_1 {
    margin-top: 24px;
  }
}

.col_2_tall {
  align-items: center;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 45px;
}

.col_3 {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(3, 1fr);
}
