@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.container {
   animation : shimmer 3s infinite;
   background: linear-gradient(to right, var(--color-shimmerDark) 4%, var(--color-shimmerLight) 25%, var(--color-shimmerDark) 36%);
   background-size: 1000px 100%;
}
