.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4px;
}

.noFilters {
  color: rgba(0, 0, 0, 0.3);
  margin-top: 80px;
  text-align: center;
}

.property {
  margin: 6px;
}

.reset {
  margin-top: 16px;
}
