.grid {
  display: grid;
  grid-template-columns: 1fr 274px;
  margin-top: 12px;
}

.gridHeader {
  color: var(--color-metadata);
  margin-bottom: 12px;
}

.notLast {
  border-bottom: 1px solid var(--color-fieldBorder);
  margin-bottom: 12px;
  padding-bottom: 12px;
}
