.button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  color: var(--color-primary);
  fill: var(--color-primary);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 1;
  outline: none;
  padding: 6px;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.15s, background-color 0.15s, fill 0.15s;

  &:focus {
    color: var(--color-primaryFocused);
    fill: var(--color-primaryFocused);
  }

  &:hover,
  &:hover &:focus {
    color: var(--color-primaryHovered);
    fill: var(--color-primaryHovered);
  }

  &:active {
    color: var(--color-primaryPressed);
    fill: var(--color-primaryPressed);
  }

  &:disabled,
  &[disabled] {
    background-color: transparent;
    color: var(--color-onDisabled);
    fill: var(--color-onDisabled);
    cursor: not-allowed;
  }
}
