.container {
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 1fr;
  text-align: center;
  text-transform: uppercase;

  h1 {
    color: var(--color-navBackground);
    font-size: 8rem;
  }

  h3 {
    color: var(--color-metadata);
    font-size: 2rem;
  }
}
