
.icon {
  fill: var(--color-primary);
  margin-left: 16px;
  transition: transform 0.15s;
  width: 24px;
}

.option {
  align-items: center;
  background-color: var(--color-background);
  border: none;
  border-top: 1px solid var(--color-fieldFocused);
  box-sizing: border-box;
  color: var(--color-onBackground);
  cursor: pointer;
  display: flex;
  fill: var(--color-onBackground);
  flex-direction: row;
  height: 45px;
  outline: none;
  padding: 0 8px;
  text-align: left;
  transition: background-color 0.15s;

  &:hover {
    background-color: var(--color-field);
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.optionsList {
  background-color: var(--color-background);
  border: 1px solid var(--color-primaryFocused);
  border-top: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.value {
  background-color: var(--color-background);
  border-radius: 2px;
  border: 1px solid var(--color-background);
  box-sizing: border-box;
  color: var(--color-onBackground);
  cursor: pointer;
  display: block;
  fill: var(--color-onBackground);
  height: 45px;
  outline: none;
  overflow: hidden;
  padding: 0;
  text-align: left;
  text-decoration: none;
  transition:
    border-color 0.15s,
    background-color 0.15s,
    border-bottom-left-radius 0.15s,
    border-bottom-right-radius 0.15s,
    color 0.15s;

  &:focus {
    border-color: var(--color-primaryFocused);
  }

  &:hover,
  &:hover &:focus {
    background-color: var(--color-field);
    border-color: var(--color-primaryHovered);
  }

  &:active {
    background-color: var(--color-field);
    border-color: var(--color-primaryPressed);
  }

  &[data-tooltipopen="true"] {
    border-color: var(--color-primaryFocused);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    .icon {
      transform: rotate(180deg);
    }
  }

  &:disabled,
  &[disabled] {
    border-color: var(--color-background);
    color: var(--color-onDisabled);
    cursor: not-allowed;
  }
}

.placeholder {
  color: var(--color-metadata);
}

.size {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 45px;
  justify-content: space-between;
  padding: 0 8px;
}
