.container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.wrapper {
  max-width: 640px;
  width: 100%;
}
