$header-size: 60px;

.container {
  bottom: 0;
  left: 0;
  padding-top: $header-size;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.content {
  position: relative;
}

.headerBG {
  background-color: var(--color-navBackground);
  height: $header-size;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.15s;
  z-index: var(--z-header);
}

.header {
  height: $header-size;
  left: 0;
  padding: 0 8px;
  position: fixed;
  right: 0;
  top: 0;
  transition: box-shadow 0.15s;
  z-index: var(--z-header);

  &.scrolled1 {
    box-shadow: var(--elevation-1);
  }

  &.scrolled2 {
    box-shadow: var(--elevation-2);
  }

  &.scrolled3 {
    box-shadow: var(--elevation-3);
  }

  &.scrolled4 {
    box-shadow: var(--elevation-4);
  }

  &.scrolled5 {
    box-shadow: var(--elevation-5);
  }
}
